.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #C5C7D4;
    border-bottom-color: #e7be09bf;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 