@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
.homepage_bg {
  background-image: url(../src/assets/Images/bghome.svg);
}

.timelineImage {
  /* Ellipse 2 */
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;

  /* Gradient/03 */
  background: linear-gradient(
    117.82deg,
    #9cecfb -9.12%,
    #65c7f7 48.59%,
    #0052d4 106.3%
  );
  opacity: 0.3;
  filter: blur(34px);
  transform: matrix(1, 0, -0.03, 1, 0, 0);

  /* Inside auto layout */
  flex: none;
  order: 4;
  flex-grow: 0;
}

/* Override Swiper pagination bullet colors */
.swiper-pagination-bullet {
  background-color: theme('colors.richblack.500');
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: theme('colors.yellow.200');
}


/* @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
} */

@media (max-width: 768px) {
  .flex-justify-between {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
